body{
    margin:0px;
    padding:0px;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    background:#eee;
}

.container{
    text-align:center;
}

.logo{
    width: 60%;
    display:block;
    margin:100px auto 0px auto;
    max-width: 400px;
}

input[type ="text"], select{
    margin: 20px auto 0px auto;
    max-width: 600px;
}

li.list-group-item{
    margin: 20px auto 5px auto;
    width: 60%;
    box-shadow: 0px 1px 3px 0px;
}

.ngx-pagination {
    padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
    background: #e43137 !important;
}

.ngx-pagination .current:hover {
    background: #e43137 !important;
}

.ngx-pagination .disabled {
    display:none;
}